
<%- include ("../partials/header") %>
<%- include ("../partials/menu") %>

    <body>

        <div class="card text-center">
            <div class="card-header">
                <br><br>
            </div>
            <div class="card-body">
                <h2 class="card-title">Cadastrado com Sucesso!</h2>
                <br>
                <a href="/horario" class="btn btn-warning">Novo Cadastro</a><br>
            </div>
            <div class="card-footer text-muted">
                <br>
            </div>
        </div>


    </body>

    <%- include ("../partials/footer") %>
